*{
  padding: 0;
  border:0;
  margin: 0;box-sizing: border-box;
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(231, 119, 119);
}
.App{
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/4/40/Rolls-Royce_Ghost_-_Flickr_-_Alexandre_Pr%C3%A9vot_%28cropped%29.jpg);
  padding: 1rem;
  border-radius: .5rem;

  width: 500px;
}
.Todo{
  background: rgb(106, 56, 56);
  margin: .5rem 0rem;
  padding: 0.5rem;
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.972);
}
.fa-check{
  color: rgb(24, 31, 137);
  cursor: pointer;
  display: flex;
  margin-left: 330px;
}
.fa-trash-can{
  color: rgb(71, 7, 7);
  cursor: pointer;
  display: flex;
}
.done{
  text-decoration: underline;
}